<body>


<div class="container">
  <mat-toolbar color="primary">
  <h1 class="tienda">MÍA</h1>
  <span>Verdulería</span>
</mat-toolbar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="mostrarLista">
        <table>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
            </tr>
            <tr *ngFor="let item of items">
  <td class="table-cell">{{ item.producto }}</td>
  <td class="table-cell">{{ item.costo }}</td>
</tr>
          </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toggleLista()">Mostrar/Ocultar Lista</button>
    </mat-card-actions>
  </mat-card>
</div>
</body>
